[Unit]
Description=GPS service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=debian
ExecStart=/usr/bin/env /home/debian/centralina/BSP/gps/gps_network_interface

[Install]
WantedBy=multi-user.target
