[Unit]
Description=PM 10&2.5 sensor
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=debian
ExecStart=/usr/bin/env /home/debian/centralina/BSP/pm/airsensor_network_interface

[Install]
WantedBy=multi-user.target
